---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection("posts"))
    .filter((post) => !post.data.draft)
    .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Layout>
    <h1>All Posts</h1>
    <div class="post-list">
        {
            posts.map((post) => (
                <a href={`/posts/${post.id}`} class="post-item">
                    <img
                        src={post.data.hero || ""}
                        alt={`Background from "${post.data.title}"`}
                        loading="lazy"
                    />
                    <div>
                        {post.data.tags && (
                            <div class="tags">
                                {post.data.tags.map((tag) => (
                                    <span>{tag}</span>
                                ))}
                            </div>
                        )}

                        <h2>{post.data.title}</h2>
                        <p>
                            {post.data.description ||
                                "No Description was provided"}
                        </p>
                    </div>
                </a>
            ))
        }
    </div>
</Layout>
<style lang="scss">
    .post-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        flex-wrap: wrap;
        gap: 10pt;

        .post-item {
            padding: 5pt;
            background-color: var(--surface-secondary);
            border: 1px solid var(--surface-border);
            text-decoration: none;
            color: var(--fg);

            img {
                width: 100%;
                height: 300px;
            }

            .tags {
                display: flex;
                -js-display: flex;
                align-items: center;
                gap: 5pt;

                span {
                    background: var(--accent);
                    border: 1px solid var(--accent-border);

                    padding: 1pt 3pt
                }
            }
        }
    }
</style>
