---
import type { LinksType } from "@/types";

interface Props {
    link: LinksType;
}

const { link } = Astro.props;
---

<script>
    import { stagger, animate, spring } from "motion";

    animate(
        "#link",
        // @ts-ignore Typescript don't like it
        {
            opacity: [0, 1],
            scale: [0, 1],
        },
        {
            delay: stagger(0.3),
            type: spring, 
            bounce: .4, 
        },
    );

    document.addEventListener("DOMContentLoaded", () => {
        document.querySelectorAll("a[data-clipboard]").forEach((element) => {
            element.addEventListener("click", (e) => {
                if (
                    element instanceof HTMLElement &&
                    element.dataset.clipboard
                ) {
                    e.preventDefault();
                    navigator.clipboard.writeText(element.dataset.clipboard);

                    const span = element.querySelector("span");
                    if (span) {
                        const originalText = span.textContent;
                        span.textContent = "Copied!";

                        // Set clipboard state to true
                        element.dataset.clipboardState = "true";

                        setTimeout(() => {
                            span.textContent = originalText;
                            // Reset clipboard state
                            element.dataset.clipboardState = "false";
                        }, 2000);
                    }
                }
            });
        });
    });
</script>

<a
    id="link"
    href={link.url || "javascript:void(0)"}
    target="_blank"
    rel="noopener noreferrer"
    data-clipboard={link.clipboard}
    data-clipboard-state="false"
>
    <slot />
    <span class="no-ssr">{link.title}</span>
</a>
