---
import { Icon } from "astro-iconify";

const { icon, href, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + (subpath?.[0] || "");
---

<a href={href} class={isActive ? "dock-active" : ''} {...props}>
  <Icon class="size-[1.2em]" pack="material-symbols" name={icon} />
  <span class="dock-label">
    <slot />
  </span>
</a>
