---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-iconify";
---

<Layout>
    <h1>About Page</h1>
    <div>
        <div role="alert">
            <Icon
                pack="material-symbols"
                name="chat-info-outline-rounded"
            />
            <span
                >This site was created under MIT License. Please read more at <a
                    href="https://choosealicense.com/licenses/mit/#"
                    >Choose A License site</a
                ></span
            >
        </div>
        <div>
            <h2>Tech Stack</h2>
            <ul>
                <li>Astro</li>
                <li>TailwindCSS + DaisyUI</li>
            </ul>
        </div>
    </div>
</Layout>
