---
import Layout from "../layouts/Layout.astro";
import AudioPlayer from "../components/AudioPlayer.astro";
---
<Layout>
  <AudioPlayer src="/audio/clair-de-lune.flac" loop />
  <p>About</p>
</Layout>