---
import { AUTHOR_NAME } from "../constant";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1>About Page</h1>
    <p>This site was lincensed with MIT</p>
    <p>Created by {AUTHOR_NAME}, built with:</p>
    <ul>
        <li>Astro</li>
        <li>CSS</li>
        <li>SASS/SCSS</li>
    </ul>
    <b>
        <p>There's not alot of content in this page... Come back later!</p>
    </b>
</Layout>
