---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-iconify";
---

<Layout>
    <h1 class="text-4xl font-bold">About Page</h1>
    <div class="space-y-8">
        <div role="alert" class="alert mt-8">
            <Icon
                class="text-info h-6 w-6 shrink-0"
                pack="material-symbols"
                name="chat-info-outline-rounded"
            />
            <span
                >This site was created under MIT License. Please read more at <a
                    class="text-primary hover:underline"
                    href="https://choosealicense.com/licenses/mit/#"
                    >Choose A License site</a
                ></span
            >
        </div>
        <div>
            <h2 class="text-2xl font-semibold">Tech Stack</h2>
            <ul class="list-disc *:ml-8">
                <li>Astro</li>
                <li>TailwindCSS + DaisyUI</li>
            </ul>
        </div>
    </div>
</Layout>
