---
import Icon from "astro-iconify";
import { AUTHOR_NAME } from "../constant";
import Layout from "../layouts/Layout.astro";
import { Picture } from "astro:assets";
import type { RepositoryType } from "../lib/types";
import Repositories from "../components/Repositories.astro";
import { BIRTH_DATE } from "../constant";

const repositories: RepositoryType = [
    {
        name: "spring-testing-place",
        description: "This is the codebase for my testing place.",
        url: "https://github.com/bloomdevelop/spring-testing-place",
    },
    {
        name: "crescent",
        description:
            "DM-focused mobile app for Upryzing, built with Kotlin and Jetpack Compose ",
        url: "https://github.com/upryzing/crescent",
    },
    {
        name: "june",
        description: "Multi-purpose bot for Revolt.chat",
        url: "https://github.com/bloomdevelop/june",
    },
    {
        name: "github-search",
        description: "A search application that uses Github API",
        url: "https://github.com/bloomdevelop/github-search",
    },
];

// Helper function for calculating the age
function calculateAge(birthDateString: string) {
    const birthDate = new Date(birthDateString);
    const today = new Date();

    let age = today.getFullYear() - birthDate.getFullYear();
    const monthDifference = today.getMonth() - birthDate.getMonth();

    // If the birth month hasn't passed yet, or
    // if the birth month is the current month but the birth day hasn't passed yet,
    // then subtract one year from the age.
    if (
        monthDifference < 0 ||
        (monthDifference === 0 && today.getDate() < birthDate.getDate())
    ) {
        age--;
    }

    return age;
}

const age = calculateAge(BIRTH_DATE);
---

<Layout>
    <div>
        <div class="warp">
            <div class="pfp">
                <Picture
                    src="/images/pfp/bafkreig74nuglms6u52yqs2vs66zwewhn4pthj5szuybmkfulnz4bg2634-cropped.jpg"
                    alt="Spring's Profile Image"
                    width={300}
                    height={300}
                    loading="eager"
                />
                <p>
                    Picture from <a
                        href="https://bsky.app/profile/wiillowthecat.bsky.social"
                        target="_blank"
                        rel="noopener noreferrer">Willow The Cat on Bluesky</a
                    >
                </p>
            </div>
            <div class="card">
                <h1>
                    Hello, I'm {AUTHOR_NAME}!
                </h1>
                <ul>
                    <li>Age: {age} Years Old</li>
                    <li>Pronous: He/Him</li>
                    <li>Language: Spanish and English</li>
                    <li>
                        Programming Languages:
                        <ul>
                            <li>
                                <Icon pack="logos" name="javascript" />
                                <Icon pack="logos" name="typescript-icon" />
                                Javascript/Typescript
                            </li>
                            <li>
                                <Icon pack="logos" name="kotlin-icon" />
                                Kotlin
                            </li>
                            <li>
                                <Icon
                                    pack="vscode-icons"
                                    name="file-type-luau"
                                />
                                Luau/Lua (Currently Learning)
                            </li>
                            <li>
                                <Icon pack="logos" name="rust" />
                                Rust (Currently learning)
                            </li>
                            <li>
                                <Icon pack="logos" name="python" />
                                Python (Currently learning)
                            </li>
                        </ul>
                    </li>
                    <li>Job: Student, Not Employed Yet</li>
                </ul>
            </div>
        </div>
    </div>
    <h1>My Projects (And Contributions)</h1>
    <Repositories repositories={repositories} />
</Layout>

<style>
    svg {
        display: inline-block;
        width: 12pt;
        height: 12pt;
    }

    .warp {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        flex-wrap: wrap;
        gap: 10pt;
        grid-auto-flow: dense;
    }

    .card {
        padding: 10pt 24pt;
        border: 1px solid var(--surface-border);
        background-color: var(--surface-secondary);
    }

    .pfp {
        display: flex;
        -js-display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>
