---
import Pride from "../components/Pride.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout>
	<h1 class="hero">Hello <span class="color-me">World</span></h1>
</BaseLayout>