---
import MyName from "../components/MyName.astro";
import Repo from "../components/Repo.astro";
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import type { RepoType } from "../types";

const projects: RepoType[] = [
    {
        title: "Github Search",
        description:
            "Made with Solid and Solid Start less than 3 hours. Uses Github API for searching.",
        link: "https://github.com/bloomdevelop/github-search",
    },
    {
        title: "Silk",
        description: "Multi Purpose Revolt Bot",
        link: "https://github.com/bloomdevelop/Silk",
    },
    {
        title: "Tasks",
        description:
            "Todo app made with Solid and other headless component libaries",
        link: "https://github.com/bloomdevelop/tasks",
    },
    {
        title: "Anti Mass-Ping",
        description: "A Revolt bot that prevents peoples from mass pinging",
        link: "https://github.com/bloomdevelop/anti-mass-ping",
    },
    {
        title: "ReChat",
        description:
            "Revolt third party client, created with Solid and SUID (Solid Material), it's very broken (even worse, discontinued)",
        link: "https://github.com/bloomdevelop/ReChat",
    },
];

const contributions: RepoType[] = [
    {
        title: "Crescent",
        description:
            "DM-focused mobile app for Upryzing, built with Kotlin and Jetpack Compose ",
        link: "https://github.com/upryzing/crescent",
    },
    {
        title: "RevoltMini",
        description:
            "Lightweight Revolt client designed for low-end devices, built with pure javascript, css and html",
        link: "https://codeberg.org/amycatgirl/revoltmini",
    },
];
---

<script>
    import { animate, stagger, spring } from "motion";
    animate(
        "section",
        // @ts-ignore Typescript being dumb as fuck
        {
            opacity: [0, 1],
            translateY: ["-10%", "0%"],
            scale: [0.9, 1],
        },
        {
            delay: stagger(0.2),
            type: spring,
            bounce: 0.4,
        },
    );
</script>
<Layout>
    <MyName name="Bloom Perez" />
    <Section title="Contributions">
        <Repo projects={contributions} />
    </Section>
    <Section title="My Projects">
        <Repo projects={projects} />
    </Section>
</Layout>
