---
import { AUTHOR_NAME } from "../const";
import HeaderLink from "./HeaderLink.astro";
import pkg from "../../package.json";
---

<nav>
    <div>
        <h1>{AUTHOR_NAME}&apos;s Site</h1>
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/posts">Posts</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
    </div>
    <div class="end fadeout">
        v{pkg.version}
    </div>
</nav>

<style>
    nav {
        overflow: hidden;
        
        margin: 0;
        padding: 0.5rem 1rem;
        
        display: flex;
        flex-direction: row;
        gap: 2rem;
        justify-content: space-between;
        align-items: flex-end;
        
        border-bottom: solid 2px var(--border);
        background-color: rgba(var(--bg-rgb), 0.5);
        backdrop-filter: blur(20px);
    }

    h1 {
        font-size: xx-large;
        padding: 0;
        line-height: 1em;
        margin: 0;
    }

    nav > div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    .fadeout {
        color: var(--comment-fg)
    }

    @media (prefers-reduced-transparency) {
        nav {
            background-color: var(--bg);
            backdrop-filter: none;
        }
    }
</style>
