---
interface Props {
    links: Links[];
}

const { links } = Astro.props;
---

<script>
    const copiedStates = {};

    document.addEventListener("DOMContentLoaded", () => {
        document
            .querySelectorAll("a[data-clipboard]")
            .forEach((element, index) => {
                element.addEventListener("click", (e) => {
                    if (
                        element instanceof HTMLElement &&
                        element.dataset.clipboard
                    ) {
                        e.preventDefault();
                        navigator.clipboard.writeText(
                            element.dataset.clipboard,
                        );

                        const span = element.querySelector("span");
                        if (span) {
                            const originalText = span.textContent;
                            span.textContent = "Copied!";
                            span.classList.add("text-green-700");

                            setTimeout(() => {
                                span.textContent = originalText;
                                span.classList.remove("text-green-700");
                            }, 2000);
                        }
                    }
                });
            });
    });
</script>

<div class="grid lg:grid-cols-4 md:grid-cols-2 sm:grid-cols-1 gap-4">
    {
        links.map((link, index) => (
            <a
                class="text-center font-semibold text-2xl select-none bg-white border-2 transition-all rounded-lg p-4 shadow-[0_0_0_2px_rgba(0,0,0,1)] hover:shadow-[0_0_0_4px_rgba(0,0,0,1)] hover:border-blue-500 hover:shadow-blue-500 active:shadow-[0_0_0_2px_rgba(0,0,0,1)]"
                href={link.url || null}
                target="_blank"
                rel="noopener noreferrer"
                data-clipboard={link.clipboard}
            >
                <span>{link.title}</span>
            </a>
        ))
    }
</div>
