---
interface Props {
    name: string;
}

const { name } = Astro.props;
---

<div
    class="bg-purple-100 border-b-2 flex flex-col justify-center items-center py-14 mb-6 shadow-[0_4px_0_2px_rgba(0,0,0,1)]"
>
    <h1 class="font-clash-display text-4xl md:text-5xl lg:text-6xl font-bold">
        Hi I'm {name}
    </h1>
</div>
