---
hero: "/images/posts/Age_Verification.png"
title: "About Age Verification"
description: "You need to verify your id to access APP_NAME"
tags: ["Rant", "Internet"]
pubDate: 8/4/25
draft: true
---

> [!NOTE]
> Content not finished

Unsure how do I make a introduction for this, okay so,

## Sources
