---
import BaseHead from "../components/BaseHead.astro";
import DevWarn from "../components/DevWarn.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Pride from "../components/Pride.astro";
import Stack from "../components/Stack.astro";
import { AUTHOR_NAME } from "../const";
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <BaseHead title={`${AUTHOR_NAME}'s Site`} />
</head>
<body>
    <Stack position="sticky" top={0} zIndex={100}>
        <DevWarn />
        <Header />
    </Stack>
    <Pride/>
    <main>
        <slot />
    </main>
    <Footer />
</body>
</html>