---
import { Font } from "astro:assets";
import "@fontsource-variable/google-sans-flex/rond.css";

import "../css/styles.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="theme-color" content="light-dark(#fff, #000)" />
        <title>Spring's Website</title>

        <Font cssVariable="--inter" preload />
        <Font cssVariable="--maple-mono" preload />
        <Font cssVariable="--material-symbols" preload />
    </head>
    <body>
        <a href="#main-content" class="skip-link">Skip to main content</a>
        <slot />
    </body>
</html>

<style>
    html,
    body {
        max-width: calc(100% / 1.2);
        margin: 0 auto;
        padding: 0;

        background-color: var(--surface);
        color: var(--surface-contrast);
    }

    .skip-link {
        opacity: 0;
        position: fixed;
        top: 10px;
        left: 10px;
        z-index: 9999;
        padding: var(--space-md) var(--space-lg);
        background: var(--surface);
        color: var(--surface-contrast);
        font-weight: 600;

        &:focus-visible {
            opacity: 1;
        }
    }
</style>
