---
import { ClientRouter } from "astro:transitions";
import "../assets/global.css";
import Navigator from "../components/navigation/Navigator.astro";
import { AUTHOR_NAME } from "../constant";
---

<!doctype html>
<html lang="en">
	<head>
		<ClientRouter />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${AUTHOR_NAME}'s Blog`}</title>
	</head>
	<body>
		<Navigator>
			<slot />
		</Navigator>
	</body>
</html>

<style is:global>
	@keyframes scale-in {
		0% {
			opacity: 0;
			transform: scale(0.8);
			filter: saturate(0.8) blur(0.5em);
		}
		100% {
			opacity: 1;
			transform: scale(1);
			filter: saturate(1) blur(0);
		}
	}
	@keyframes scale-out {
		0% {
			opacity: 1;
			transform: scale(1);
			filter: saturate(1) blur(0);
		}
		100% {
			opacity: 0;
			transform: scale(0.8);
			filter: saturate(0.8) blur(0.5em);
		}
	}
</style>